.mii-green {
    color: #A4C709;
}
.mii-blue {
    color: #5B79AF;
}

.bg-mii-blue {
    background-color: #5B79AF;
}

a:visited {
    color: #A4C709;
}
a { 
    color: #5B79AF;
}
.bg-ibm-1 {
    background-color: #648FFF;
}
.bg-ibm-2 {
    background-color: #785EF0;
}
.bg-ibm-3 {
    background-color: #DC267F;
}
.bg-ibm-4 {
    background-color: #FE6100;
}
.bg-ibm-5 {
    background-color: #FFB000;
}
* {
    font-family: 'Montserrat', sans-serif;
}
table {
    table-layout: fixed;
}
.break-word {
    word-break: break-word;
}